@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --mindaro: hsla(86, 67%, 71%, 1);
  --emerald: hsla(153, 57%, 60%, 1);
  --blue-munsell: hsla(195, 53%, 43%, 1);
  --space-cadet: hsla(242, 24%, 24%, 1);
  --chestnut: hsla(7, 44%, 45%, 1);
}
